<h1>Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**  
- List popular languages for Data Science.  
- List commonly used libraries used by Data Scientists.  
- List Data science tools.  
- Compute some arithmrtic expressions in Python.

Some of the popular languages that Data Scientists use are: Python, R, SQL, Julia, MATLAB, Scala

Some of the commonly used libraries used by Data Scientists include: NumPy, pandas, scikit-learn, TensorFlow, Keras, Matplotlib, seaborn, PyTorch.

<H4>Data Science Tools  

Jupyter Notebook  
RStudio  
Anaconda

Below are a few examples of evaluating arithmetic expressions in Python

In [14]:
"This a simple arithmetic expression to mutiply then add integers"
(3*4)+5

17

In [15]:
"This will convert 200 minutes to hours by diving by 60"
200/60

3.3333333333333335

## Author  
Jonathan Ikhelegbe-Ojo